$fuji-blue: #2e5ffa;
$fuji-blue-lighter: #f8f9ff;
$fuji-gray-darker: #1f1f1f;
$fuji-gray: #474747;
$fuji-gray-lighter: #47474780;
$fuji-soft-gray: #f3f6fa;
$fuji-soft-gray-darker: #cbcbcb;
$fuji-soft-gray-lighter: #fafbfd;
$fuji-white: #ffffff;

// Base
$sidebar-width: 256px;
$folded-sidebar-width: 72px;

// Colors
$text-color: $fuji-gray;
$text-color-lighter: $fuji-gray-lighter;

$text-color-white: $fuji-white;
$logo-color: $fuji-gray-darker;
$row-bg-color: $fuji-soft-gray-lighter;

$body-background-color: $fuji-soft-gray;
$sidebar-background-color: $fuji-white;

$sidebar-link-background-color: $fuji-blue-lighter;
$sidebar-link-border-color: $fuji-blue;
$sidebar-link-text-color: $fuji-blue;

$table-background-color: $fuji-white;

$border-color: $fuji-soft-gray-darker;
