$fuji-blue: #2e5ffa;
$fuji-blue-lighter: #f8f9ff;
$fuji-gray-darker: #1f1f1f;
$fuji-gray: #474747;
$fuji-gray-lighter: #47474780;
$fuji-soft-gray: #f3f6fa;
$fuji-soft-gray-darker: #cbcbcb;
$fuji-soft-gray-lighter: #fafbfd;
$fuji-white: #ffffff;
$fuji-white-darker: #f8f8f8;
$fuji-red: #ce4b67;
$fuji-green: #107c41;

// Base
$sidebar-width: 256px;
$folded-sidebar-width: 72px;
$table-pagination-height: 82px;
$table-toollbar-height: 48px;

:root {
  --table-pagination-height: $table-pagination-height;
  --table-toollbar-height: $table-toollbar-height;
}

// Colors
$text-color: $fuji-gray;
$text-color-lighter: $fuji-gray-lighter;

$text-color-white: $fuji-white;
$logo-color: $fuji-gray-darker;
$row-bg-color: $fuji-soft-gray-lighter;

$body-background-color: $fuji-soft-gray;
$sidebar-background-color: $fuji-white;

$sidebar-link-background-color: $fuji-blue-lighter;
$sidebar-link-border-color: $fuji-blue;
$sidebar-link-text-color: $fuji-blue;

$table-bg-color: $fuji-white;

$border-color: $fuji-soft-gray-darker;

$danger-color: $fuji-red;

$disabled-bg-color: $fuji-soft-gray-darker;
$disabled-color: $fuji-gray-lighter;
