html,
body,
#app {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

:root {
  font-family: Wix Madefor Display;
  font-weight: 500;
  color: var(--text-color);

  --sidebar-width: 230px;
}

:root {
  --fuji-blue: #2e5ffa;
  --fuji-gray: #474747;
  --fuji-gray-lighter: #47474780;
  --fuji-soft-gray: #f3f6fa;
  --fuji-soft-gray-lighter: #fafbfd;
  --fuji-white: #ffffff;
}

:root {
  --body-background-color: var(--fuji-soft-gray);
  --text-color: var(--fuji-gray);
  --text-color-lighter: var(--fuji-gray-lighter);
  --row-color-1: var(--fuji-white);
  --row-color-2: var(var(--fuji-soft-gray-lighter));

  --sidebar-background-color: var(--fuji-white);
  --table-background-color: var(--fuji-white);
}
